h1{
    color:red;
    font-size: 35px;
    text-align: center;
}

body{
    background-color: aquamarine;
}

img{
    width: 400px;
    height: 400px;
}

#seagullpic{
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p1{
    color: gold;
    font-size: 23px;
    font-style: italic;
    text-align: center;
}

.p2{
    color: burlywood;
    font-size: 10px;
    font-weight: bold;
}